.news {
    margin-bottom: 90px;

    &__wrapper {
        display: flex;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__title {
        font-family: "Playfair Display", Arial, Helvetica, sans-serif;
        font-size: 32px;
        line-height: 1.33em;

        margin-bottom: 40px;
    }

    &__description {
        b {
            font-weight: 700;

        }

        font-size: 16px;
        line-height: 1.6em;

        margin-bottom: 120px;
    }

    &__gallery {
        display: flex;
        flex-direction: row;
    }

    &__row {
        margin-bottom: 10px;
    }

    &__column {
        margin-right: 10px;
    }

    &__list {
        .list__icon {
            margin-right: 18px;
        }
    }
}
